In [37]:
import pandas as pd
import numpy as np
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('advertising.csv')

print(data.head())

In [ ]:
data.info()

In [5]:
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [ ]:
data.isnull().sum()*100/data.shape[0]

In [ ]:
fig, axs = plt.subplots(3, figsize = (7,5))
plt1 = sb.boxplot(data['TV'], ax = axs[0])
plt2 = sb.boxplot(data['Radio'], ax = axs[1])
plt3 = sb.boxplot(data['Newspaper'], ax = axs[2])
plt.tight_layout()

In [ ]:
sb.boxplot(data['Sales'])
plt.show()

In [ ]:
sb.pairplot(data, x_vars=['TV', 'Radio', 'Newspaper'], y_vars='Sales', height=3, aspect=1, kind='scatter')
plt.show()

In [ ]:
sb.heatmap(data.corr(), cmap="YlOrBr", annot = True)
plt.show()

In [16]:
X = data['TV']
y = data['Sales']

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.7, test_size = 0.3, random_state = 100)

In [ ]:
X_train.head()

In [ ]:
y_train.head()

In [24]:
import statsmodels.api as sm

In [25]:
X_train_sm = sm.add_constant(X_train)

# Fit the resgression line using 'OLS'
lr = sm.OLS(y_train, X_train_sm).fit()

In [ ]:
lr.params

In [ ]:
print(lr.summary())

In [ ]:
plt.scatter(X_train, y_train)
plt.plot(X_train, 6.948 + 0.054*X_train, 'r')
plt.show()

In [29]:
y_train_pred = lr.predict(X_train_sm)
res = (y_train - y_train_pred)

In [ ]:
fig = plt.figure()
sb.distplot(res, bins = 15)
fig.suptitle('Error Terms', fontsize = 15)                  # Plot heading 
plt.xlabel('y_train - y_train_pred', fontsize = 15)         # X-label
plt.show()

In [ ]:
plt.scatter(X_train,res)
plt.show()

In [33]:
X_test_sm = sm.add_constant(X_test)

# Predict the y values corresponding to X_test_sm
y_pred = lr.predict(X_test_sm)

In [ ]:
y_pred.head()

In [35]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [ ]:
np.sqrt(mean_squared_error(y_test, y_pred))

In [ ]:
plt.scatter(X_test, y_test)
plt.plot(X_test, 8.94 + 0.045 * X_test, 'r')
plt.show()